<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>회원가입</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">회원가입</h1>

            <script>
                let MemberJoin__submitDone = false;

                function MemberJoin__submit(form) {
                    if (MemberJoin__submitDone) {
                        return;
                    }

                    form.username.value = form.username.value.trim();

                    if (form.username.value.length == 0) {
                        warningModal("로그인아이디를 입력해주세요.");
                        form.username.focus();

                        return;
                    }

                    form.password.value = form.password.value.trim();

                    if (form.password.value.length == 0) {
                        warningModal("로그인비밀번호를 입력해주세요.");
                        form.password.focus();

                        return;
                    }

                    form.email.value = form.email.value.trim();

                    if (form.email.value.length == 0) {
                        warningModal("이메일을 입력해주세요.");
                        form.email.focus();

                        return;
                    }

                    form.submit();
                    MemberJoin__submitDone = true;
                }
            </script>

            <form th:action method="POST" class="flex flex-col gap-3"
                  onsubmit="MemberJoin__submit(this); return false;" th:object="${withdrawApplyForm}" >
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">은행</span>
                    </label>
                    <input autofocus type="text" name="bankName" th:value="${withdrawApplyForm.username}" class="input input-bordered">
                </div>
                <div class="text-red-600 mt-1" th:if="${#fields.hasErrors('bankName')}" >
                    <span>*</span>
                    <span th:errors="*{bankName}"></span>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">계좌번호</span>
                    </label>
                    <input type="text" name="bankAccountNo" placeholder="계좌번호" th:value="${withdrawApplyForm.bankAccountNo}"
                           class="input input-bordered">
                </div>
                <div class="text-red-600 mt-1" th:if="${#fields.hasErrors('bankAccountNo')}" >
                    <span>*</span>
                    <span th:errors="*{bankAccountNo}"></span>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">출금 금액</span>
                    </label>
                    <input type="text" name="price" placeholder="계좌번호" th:value="${joinForm.price}"
                           class="input input-bordered">
                </div>
                <div class="text-red-600 mt-1" th:if="${#fields.hasErrors('price')}" >
                    <span>*</span>
                    <span th:errors="*{price}"></span>
                </div>

                <div class="grid grid-cols-1 mt-2 gap-2">
                    <input class="btn btn-primary" type="submit" value="출금신청">
                </div>
            </form>
        </div>

        </div>
    </section>

</main>
</body>
</html>