<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>도서 목록</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-write container mx-auto">

        <div class="px-2 pt-4">

            <th:block th:each="product : ${products}">
                <div class="card bg-base-100 border-2 border-slate-100 my-2">
                    <div class="card-body" style="padding: 15px">
                        <div class="flex flex-wrap">
                            <div class="mr-5">
                                <img src="https://source.unsplash.com/random" class="w-28 h-40">
                            </div>
                            <div class="grow">
                                <a th:href="|/product/${product.id}|" >
                                    <h2 th:text="${product.subject}" class="font-bold text-2xl"></h2>
                                </a>

                                <div class="flex">
                                    <div th:text="|${product.author.nickname} 저|" class="text-slate-500 mr-2"></div>
                                    <div class="text-slate-500 mr-2">|</div>
                                    <div th:text="${#temporals.format(product.createDate, 'yyyy년 MM월 dd일')}" class="text-slate-500"></div>
                                    <!--                        <div th:text="${#temporals.format(product.updateDate, 'yyyy-MM-dd')}"></div>-->
                                </div>

                                <div th:text="|${product.price} 원|" class="font-bold text-2xl my-2"></div>

                                <div>
                                    <div th:each="productHash : ${product.productHashTags}" class="badge badge-lg badge-accent mr-1">
                                        <span>#</span>
                                        <span th:text="${productHash.productKeyword.content}"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="card-actions flex flex-col justify-center my-2">
                                <a href="javascript:;" onclick="$(this).next().submit()" class="btn btn-sm">
                                    <i class="fa-solid fa-cart-plus"></i>
                                    <span class="ml-2">장바구니</span>
                                </a>
                                <form th:action="@{|/cart/add/${product.id}|}" method="POST" hidden></form>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>

        </div>
    </section>

</main>
</body>
</html>