<!DOCTYPE html>
<html layout:decorate="~{/adm/layout/layout}">

<head>
    <title>정산데이터</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>

<main layout:fragment="main">
    <div class="container mx-auto flex-grow flex items-center justify-center">
        <div>
            <h1>정산데이터</h1>
            <select required name="year" id="year" class="select select-bordered"></select>
            <select required name="month" id="month" class="select select-bordered"></select>

            <a href="javascript:;" onclick="MakeRebateOrderItemsForm__submit();" class="btn btn-primary">생성</a>
            <form method="POST" name="makeRebateOrderItemsForm" th:action="@{|/adm/rebate/makeData|}" hidden>
                <input type="hidden" name="year">
                <input type="hidden" name="month">
            </form>

            <a href="javascript:;" onclick="SelectRebateOrderItemsForm__submit();" class="btn btn-secondary btn-outline">조회</a>
            <form method="GET" name="selectRebateOrderItemsForm" th:action="@{|/adm/rebate/rebateOrderItemList|}" hidden>
                <input type="hidden" name="year">
                <input type="hidden" name="month">
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            var now = new Date();
            var year = now.getFullYear();
            var mon = (now.getMonth() + 1) > 9 ? ''+(now.getMonth() + 1) : '0'+(now.getMonth() + 1);
            var day = (now.getDate()) > 9 ? ''+(now.getDate()) : '0'+(now.getDate());
            //년도 selectbox만들기
            for(var i = 2020 ; i <= year ; i++) {
                $('#year').append('<option value="' + i + '">' + i + '년</option>');
            }

            // 월별 selectbox 만들기
            for(var i=1; i <= 12; i++) {
                var mm = i > 9 ? i : "0"+i ;
                $('#month').append('<option value="' + mm + '">' + mm + '월</option>');
            }

            // 일별 selectbox 만들기
            for(var i=1; i <= 31; i++) {
                var dd = i > 9 ? i : "0"+i ;
                $('#day').append('<option value="' + dd + '">' + dd+ '일</option>');
            }
            $("#year  > option[value="+year+"]").attr("selected", "true");
            $("#month  > option[value="+mon+"]").attr("selected", "true");
            $("#day  > option[value="+day+"]").attr("selected", "true");

        })
    </script>
    <script>
        // 정산 데이터 생성
        let MakeRebateOrderItemsForm__submitDone = false;

        function MakeRebateOrderItemsForm__submit() {
            if (MakeRebateOrderItemsForm__submitDone) return;

            const form = document.makeRebateOrderItemsForm;

            form.year.value = $("#year").val();
            form.month.value = $("#month").val();
            form.submit();
            MakeRebateOrderItemsForm__submitDone = true;
        }

        // 생성된 정산 데이터 조회
        let SelectRebateOrderItemsForm__submitDone = false;

        function SelectRebateOrderItemsForm__submit() {
            if (SelectRebateOrderItemsForm__submitDone) return;

            const form = document.selectRebateOrderItemsForm;

            form.year.value = $("#year").val();
            form.month.value = $("#month").val();
            form.submit();
            SelectRebateOrderItemsForm__submitDone = true;
        }
    </script>
</main>

</html>