<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE" th:text="${@appConfig.siteName}"></title>

    <!-- 제이쿼리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!--select2-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <!-- jdenticon -->
    <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.2.0/dist/jdenticon.min.js" async
            integrity="sha384-yBhgDqxM50qJV5JPdayci8wCfooqvhFYbIKhv0hTtLvfeeyJMJCscRfFNKIxt43M"
            crossorigin="anonymous">
    </script>

    <!-- 폰트어썸 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!-- 테일윈드 -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen flex flex-col pt-[35px]">

<!-- 데이지 UI -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css"/>

<!-- common.css -->
<link href="/resource/common/common.css" rel="stylesheet" type="text/css"/>

<!-- 토스트 UI 에디터 의존성 시작 -->

<!-- 토스트 UI 에디터 코어 -->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
<link rel="stylesheet" href="https://nhn.github.io/tui.editor/latest/dist/cdn/theme/toastui-editor-dark.css">

<!-- 토스트 UI 컬러피커 -->
<link rel="stylesheet" href="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.css" />
<script src="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.min.js"></script>

<!-- 토스트 UI 컬러피커와 에디터 연동 플러그인 -->
<link rel="stylesheet" href="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.css" />
<script src="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.js"></script>

<!-- 토스트 UI 에디터 플러그인, 코드 신텍스 하이라이터 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism-okaidia.min.css">
<link rel="stylesheet" href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css">
<script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>

<!-- 토스트 UI 에디터 플러그인, 테이블 셀 병합 -->
<script src="https://uicdn.toast.com/editor-plugin-table-merged-cell/latest/toastui-editor-plugin-table-merged-cell.min.js"></script>

<!-- 토스트 UI 에디터 플러그인, UML -->
<script src="https://uicdn.toast.com/editor-plugin-uml/latest/toastui-editor-plugin-uml.min.js"></script>

<!-- 토스트 UI 차트 -->
<link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.css">
<script src="https://uicdn.toast.com/chart/latest/toastui-chart.js"></script>
<!-- 토스트 UI 차트와 토스트 UI 에디터를 연결  -->
<script src="https://uicdn.toast.com/editor-plugin-chart/latest/toastui-editor-plugin-chart.min.js"></script>

<!-- katex -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.0/katex.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.0/katex.min.css">

<!-- docpurify -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.8/purify.min.js"></script>
<!-- 토스트 UI 에디터 의존성 끝 -->

<header class="fixed z-40 top-0 left-0 w-full bg-white border-b-[1px] border-b-[color:#efefef] h-[35px]">
    <div class="container mx-auto h-full flex items-center px-2">
        <a href="/" class="logo flex font-bold mr-auto">
            <span class="text-[#1E9EFE]">MUT</span>
            <span class="ml-[2px] hidden sm:block">Books</span>
        </a>

        <div class="flex gap-4">
            <a href="/adm/home/main" class="inline-flex" sec:authorize="hasAuthority('ADMIN')">
                <i class="fa-solid fa-gauge-high"></i>
                <span class="ml-[2px] hidden sm:block">
                    관리자 홈
                </span>
            </a>

            <a href="/post/list" class="inline-flex" sec:authorize="isAuthenticated()">
                <i class="fa-solid fa-list"></i>
                <span class="ml-[2px] hidden sm:block">
                    내 글
                </span>
            </a>

            <a href="/post/write" class="inline-flex" sec:authorize="isAuthenticated()">
                <i class="fa-solid fa-pencil"></i>
                <span class="ml-[2px] hidden sm:block">
                    글쓰기
                </span>
            </a>

            <a href="/product/create" class="inline-flex" sec:authorize="isAuthenticated() and hasAuthority('AUTHOR')">
                <i class="fa-solid fa-book-medical"></i>
                <span class="ml-[2px] hidden sm:block">
                    도서 등록
                </span>
            </a>

            <a href="/product/list" class="inline-flex">
                <i class="fa-solid fa-book"></i>
                <span class="ml-[2px] hidden sm:block">
                    도서 목록
                </span>
            </a>

            <a href="/cart/list" class="inline-flex" sec:authorize="isAuthenticated()">
                <i class="fa-solid fa-scroll"></i>
                <span class="ml-[2px] hidden sm:block">
                    장바구니
                </span>
            </a>

            <a href="/order/list" class="inline-flex" sec:authorize="isAuthenticated()">
                <i class="fa-solid fa-cart-plus"></i>
                <span class="ml-[2px] hidden sm:block">
                    주문 내역
                </span>
            </a>

            <a href="/member/login" class="inline-flex" sec:authorize="isAnonymous()">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                <span class="ml-[2px] hidden sm:block">
                    로그인
                </span>
            </a>
            <a href="/member/join" class="inline-flex" sec:authorize="isAnonymous()">
                <i class="fa-solid fa-user-plus"></i>
                <span class="ml-[2px] hidden sm:block">
                    회원가입
                </span>
            </a>
            <a href="javascript: document.logoutForm.submit();" class="inline-flex" sec:authorize="isAuthenticated()">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span class="ml-[2px] hidden sm:block">
                    로그아웃
                </span>
            </a>
            <!--            CSRF 때문에 /member/logout POST로 요청-->
            <form name="logoutForm" th:action="@{/member/logout}" method="post" hidden></form>
            <a href="/member/profile" class="inline-flex" sec:authorize="isAuthenticated()">
                <i class="fa-solid fa-user"></i>
                <span class="ml-[2px] hidden sm:block">
                    프로필
                </span>
            </a>

        </div>
    </div>
</header>

<div class="flex-grow flex flex-col">
    <main layout:fragment="main" class="flex-grow flex flex-col"></main>
</div>

<footer class="border-t-[1px] border-t-[color:#efefef] py-3 text-[color:#777] text-[14px] mt-5">
    <div class="container mx-auto flex flex-col gap-1 px-2">
        <div>
            <a href="/static">
                <span>사업자정보확인</span>
                <span class="inline-block scale-[.7]">▼</span>
            </a>
        </div>

        <div class="flex gap-3">
            <a href="/static">이용약관</a>
            <a href="/static">개인정보 처리방침</a>
            <a href="/static">청소년보호정책</a>
        </div>

        <div>
            <a href="/static">©MUT Corp.</a>
        </div>
    </div>
</footer>

<script src="/resource/common/common.js"></script>

<script th:inline="javascript">
    const params = /*[[ ${param} ]]*/ null;

    if (params.msg) {
        successModal(params.msg);
    }

    if (params.errorMsg) {
        errorModal(params.errorMsg);
    }
</script>

</body>
</html>