<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>아이디 찾기</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-login flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">아이디 찾기</h1>

            <script>
                let FindUsername__submitDone = false;
                // ajax 호출
                function sendEmailByFindUsername() {
                    if (FindUsername__submitDone) {
                        return;
                    }
                    const email = $("#email").val().trim();
                    if (email.length == 0) {
                        warningModal("이메일을 입력해주세요.");
                        $("#email").focus();
                        return;
                    }
                    const usernameFindDto = {
                        "email" : email
                    };
                    console.log(email);
                    console.log(usernameFindDto);
                    $.ajax({
                        type: "POST",
                        url: "/api/v1/member/username/find",
                        data: usernameFindDto,
                        success: function(response){
                            console.log(response);
                            // 로그인 페이지로 리다이렉트
                            window.location.href = 'http://localhost:8010/member/login';
                        }
                    })
                    FindUsername__submitDone = true;
                }
            </script>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">이메일</span>
                </label>
                <input autofocus type="text" id="email" name="email" placeholder="email" class="input input-bordered" maxlength="50">
            </div>

            <div class="grid grid-cols-1 mt-2 gap-2">
                <button class="btn btn-primary" onclick="sendEmailByFindUsername();">이메일 인증</button>
            </div>
        </div>

        </div>
    </section>

</main>
</body>
</html>