<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>비밀번호 찾기</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-login flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">비밀번호 찾기</h1>

            <script>
                let FindUsername__submitDone = false;

                function FindUsername__submit(form) {
                    if (FindUsername__submitDone) {
                        return;
                    }

                    form.username.value = form.username.value.trim();

                    if (form.username.value.length == 0) {
                        warningModal("아이디를 입력해주세요.");
                        form.username.focus();

                        return;
                    }

                    form.email.value = form.email.value.trim();

                    if (form.email.value.length == 0) {
                        warningModal("이메일을 입력해주세요.");
                        form.email.focus();

                        return;
                    }

                    form.submit();
                    FindUsername__submitDone = true;
                }
            </script>


            <form th:action method="POST" class="flex flex-col gap-3" onsubmit="FindUsername__submit(this); return false;">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">아이디</span>
                    </label>
                    <input autofocus type="text" name="username" placeholder="아이디" class="input input-bordered" maxlength="50">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">이메일</span>
                    </label>
                    <input autofocus type="text" name="email" placeholder="이메일" class="input input-bordered" maxlength="50">
                </div>

                <div class="grid grid-cols-1 mt-2 gap-2">
                    <input class="btn btn-primary" type="submit" value="임시 비밀번호 발급">
                </div>
            </form>
        </div>

        </div>
    </section>

</main>
</body>
</html>