<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>비밀번호 찾기</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-login flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">비밀번호 찾기</h1>

            <script>
                let FindPassword__submitDone = false;
                // ajax 호출
                function sendEmailByFindPassword() {
                    if (FindPassword__submitDone) {
                        return;
                    }

                    const username = $("#username").val().trim();
                    if (username.length == 0) {
                        warningModal("아이디를 입력해주세요.");
                        $("#username").focus();
                        return;
                    }

                    const email = $("#email").val().trim();
                    if (email.length == 0) {
                        warningModal("이메일을 입력해주세요.");
                        $("#email").focus();
                        return;
                    }
                    const passwordFindDto = {
                        "username" : username,
                        "email" : email
                    };
                    console.log(passwordFindDto);
                    $.ajax({
                        type: "POST",
                        url: "/api/v1/member/password/find",
                        data: passwordFindDto,
                        success: function(response){
                            console.log(response);
                            // 로그인 페이지로 리다이렉트
                            window.location.href = 'http://localhost:8010/member/login';
                        }
                    })
                    FindPassword__submitDone = true;
                }
            </script>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">아이디</span>
                </label>
                <input autofocus type="text" id="username" placeholder="id" class="input input-bordered" maxlength="20">

                <label class="label">
                    <span class="label-text">이메일</span>
                </label>
                <input autofocus type="text" id="email" placeholder="email" class="input input-bordered" maxlength="50">
            </div>

            <span>아래 버튼을 누르면 귀하의 이메일 주소로 임시 비밀번호가 발송됩니다.</span>
            <div class="grid grid-cols-1 mt-2 gap-2">
                <button class="btn btn-primary" onclick="sendEmailByFindPassword();">임시 비밀번호 발급</button>
            </div>
        </div>

        </div>
    </section>

</main>
</body>
</html>