<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>비밀번호 수정</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg mb-3">비밀번호 변경</h1>
            <div class="my-3">•이전에 사용한적 없는 비밀번호를 입력해주세요.</div>

            <script>
                let ModifyPassword__submitDone = false;

                function ModifyPassword__submit(form) {
                    if (ModifyPassword__submitDone) {
                        return;
                    }

                    form.password.value = form.password.value.trim();

                    if (form.password.value.length == 0) {
                        warningModal("현재 비밀번호를 입력해주세요.");
                        form.password.focus();

                        return;
                    }

                    form.newPassword.value = form.newPassword.value.trim();

                    if (form.newPassword.value.length == 0) {
                        warningModal("새 비밀번호를 입력해주세요.");
                        form.newPassword.focus();

                        return;
                    }

                    form.newPasswordCheck.value = form.newPasswordCheck.value.trim();

                    if (form.newPasswordCheck.value.length == 0) {
                        warningModal("새 비밀번호 확인을 입력해주세요.");
                        form.newPasswordCheck.focus();

                        return;
                    }

                    form.submit();
                    ModifyPassword__submitDone = true;
                }
            </script>


            <form th:action method="POST" class="flex flex-col gap-3"
                  onsubmit="ModifyPassword__submit(this); return false;" th:object="${passwordUpdateForm}">

                <div class="form-control">
                    <input type="password" name="password" placeholder="현재 비밀번호" class="input input-bordered" maxlength="50">
                </div>

                <div class="form-control">
                    <input type="password" name="newPassword" placeholder="새 비밀번호" class="input input-bordered" maxlength="50">
                </div>

                <div class="text-red-600 mt-1" th:if="${#fields.hasErrors('newPassword')}" >
                    <span>*</span>
                    <span th:errors="*{newPassword}"></span>
                </div>

                <div class="form-control">
                    <input type="password" name="newPasswordConfirm" placeholder="새 비밀번호 확인" class="input input-bordered" maxlength="50">
                </div>

                <div class="text-red-600 mt-1" th:if="${#fields.hasErrors('newPasswordConfirm')}" >
                    <span>*</span>
                    <span th:errors="*{newPasswordConfirm}"></span>
                </div>

                <div class="grid grid-cols-1 mt-2 gap-2">
                    <input class="btn btn-primary" type="submit" value="확인">
                </div>
            </form>
        </div>

        </div>
    </section>

</main>
</body>
</html>