<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>출금계좌 등록</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">출금계좌 등록</h1>

            <script>
                let RegisterWithdrawAccount__submitDone = false;

                function RegisterWithdrawAccount__submit(form) {
                    if (RegisterWithdrawAccount__submitDone) {
                        return;
                    }

                    form.bankName.value = form.bankName.value.trim();

                    if (form.bankName.value.length == 0) {
                        warningModal("은행을 선택해주세요.");
                        form.bankName.focus();

                        return;
                    }

                    form.bankAccountNo.value = form.bankAccountNo.value.trim();

                    if (form.bankAccountNo.value.length == 0) {
                        warningModal("계좌번호를 입력해주세요.");
                        form.bankAccountNo.focus();

                        return;
                    }

                    form.submit();
                    RegisterWithdrawAccount__submitDone = true;
                }
            </script>

            <form th:action method="POST" class="flex flex-col gap-3"
                  onsubmit="RegisterWithdrawAccount__submit(this); return false;" th:object="${accountRegisterForm}" >
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">은행</span>
                    </label>
                    <select class="select select-bordered" name="bankName">
                        <option selected disabled hidden>은행 선택</option>
                        <option th:value="002" th:text="KDB산업은행"></option>
                        <option th:value="003" th:text="IBK기업은행"></option>
                        <option th:value="004" th:text="KB국민은행"></option>
                    </select>
                </div>
                <div class="text-red-600 mt-1" th:if="${#fields.hasErrors('bankName')}" >
                    <span>*</span>
                    <span th:errors="*{bankName}"></span>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">계좌번호</span>
                    </label>
                    <input type="text" name="bankAccountNo" placeholder="계좌번호" th:value="${accountRegisterForm.bankAccountNo}"
                           class="input input-bordered">
                </div>
                <div class="text-red-600 mt-1" th:if="${#fields.hasErrors('bankAccountNo')}" >
                    <span>*</span>
                    <span th:errors="*{bankAccountNo}"></span>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">예금주 성함</span>
                    </label>
                    <input type="text" name="accountHolderName" placeholder="예금주 성함" th:value="${accountRegisterForm.accountHolderName}"
                           class="input input-bordered">
                </div>
                <div class="text-red-600 mt-1" th:if="${#fields.hasErrors('accountHolderName')}" >
                    <span>*</span>
                    <span th:errors="*{accountHolderName}"></span>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">예금주 생년월일</span>
                    </label>
                    <input type="text" name="accountHolderBirth" placeholder="예금주 생년월일" th:value="${accountRegisterForm.accountHolderBirth}"
                           class="input input-bordered">
                </div>
                <div class="text-red-600 mt-1" th:if="${#fields.hasErrors('accountHolderBirth')}" >
                    <span>*</span>
                    <span th:errors="*{accountHolderBirth}"></span>
                </div>

                <div class="grid grid-cols-1 mt-2 gap-2">
                    <input class="btn btn-primary" type="submit" value="등록">
                </div>
            </form>
        </div>

        </div>
    </section>

</main>
</body>
</html>